config YANDY_COMMUNICATE
    bool "yandy-communicate node for OneFramework"
    select COMM_BRIDGE
    select BOARD_DJI_BOARD_C_USB_COMM
    depends on YANDY_GIMBAL
    depends on ONE_FRAMEWORK
    help
      Enable yandy-communicate node.

if YANDY_COMMUNICATE

module = YANDY_COMMUNICATE
module-str = YANDY_COMMUNICATE
source "subsys/logging/Kconfig.template.log_config"

endif # YANDY_COMMUNICATE
